#workIndex {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px 12px;
}
#workIndex .tabTitle {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin-bottom: 5px;
}
#workIndex .workGroup {
  flex: 1;
  overflow: hidden;
}
#workIndex .workGroup .workBox {
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  margin-top: 15px;
}
#workIndex .workGroup .workBox .top {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #999;
  padding-left: 14px;
  border-bottom: 1px solid #F5F5F5;
}
#workIndex .workGroup .workBox .workCon {
  display: flex;
  flex-wrap: wrap;
}
#workIndex .workGroup .workBox .workCon .menuBox {
  width: 33%;
  display: flex;
  flex-wrap: wrap;
}
#workIndex .workGroup .workBox .workCon .menuBox .itemBox {
  width: 100%;
  text-align: center;
  padding: 19px 25px;
}
#workIndex .workGroup .workBox .workCon .menuBox .itemBox img {
  width: 36px;
  height: 36px;
}
#workIndex .workGroup .workBox .workCon .menuBox .itemBox .desTit {
  font-size: 14px;
  line-height: 14px;
  margin-top: 12px;
}
#workIndex .workGroup .workBox .workCon .otherMenuBox {
  width: 33%;
  text-align: center;
  padding: 19px 0px;
}
#workIndex .workGroup .workBox .workCon .otherMenuBox img {
  width: 36px;
  height: 36px;
}
#workIndex .workGroup .workBox .workCon .otherMenuBox .desTit {
  font-size: 14px;
  line-height: 14px;
  margin-top: 12px;
}
#workIndex .workGroup .workBox .workCon .circleBox .imgBox {
  width: 36px;
  height: 36px;
  margin: 0 auto;
  position: relative;
}
#workIndex .workGroup .workBox .workCon .circleBox .imgBox img {
  width: 100%;
  height: 100%;
}
#workIndex .workGroup .workBox .workCon .circleBox .imgBox .numBox {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: red;
  border-radius: 50%;
}
#workIndex .workGroup .workBox .workCon .circleBox .imgBox .numBox .nums {
  color: #fff;
}
#workIndex .workGroup .workBox:first-child {
  margin-top: 2px;
}
