.homeMain {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  color: #333;
  font-size: 16px;
}
.homeMain .homeHead {
  background-color: #fff;
  width: 100%;
  color: #fff;
  padding: 5px 12px 6px 12px;
  box-sizing: border-box;
}
.homeMain .homeHead .top {
  font-size: 16px;
  padding: 8px 5px;
  display: flex;
}
.homeMain .homeHead .top .logoImg {
  height: 26px;
  color: #1978FE;
  font-size: 20px;
}
.homeMain .homeHead .top .logoImg img {
  height: 100%;
}
.homeMain .homeHead .top .scanBox {
  margin-left: auto;
  margin-right: 10px;
}
.homeMain .homeHead .top .scanIcon {
  width: 23px;
  height: 23px;
  margin-left: auto;
  margin-right: 10px;
}
.homeMain .homeHead .top .newsIconBox {
  width: 23px;
  height: 23px;
  position: relative;
}
.homeMain .homeHead .top .newsIconBox .newsIcon {
  width: 100%;
  height: 100%;
}
.homeMain .homeHead .top .newsIconBox .noReadTip {
  width: 14px;
  height: 14px;
  line-height: 14px;
  border-radius: 7px;
  background-color: #e60012;
  position: absolute;
  right: -2px;
  top: -5px;
  font-size: 10px;
  text-align: center;
}
.homeMain .homeHead .SearchBox {
  width: 100%;
  margin: 6px 0px 8px 0px;
}
.homeMain .homeHead .SearchBox input {
  width: 100%;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 18px;
  padding: 9px 10px;
  font-size: 13px;
  line-height: 13px;
  color: #999;
}
.homeMain .homeHead .SearchBox .searchIpt {
  background-color: #eee;
  width: 100%;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 18px;
  padding: 10px 10px;
  font-size: 13px;
  padding-left: 14px;
  color: #999;
  box-sizing: border-box;
}
.homeMain .homeConBox {
  flex: 1;
  background-color: #F5F5F5;
  width: 100%;
  padding: 0px 12px;
  box-sizing: border-box;
}
.homeMain .homeConBox .examTaskBox {
  background-color: #fff;
  padding: 7px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.homeMain .homeConBox .examTaskBox .taskList div {
  line-height: 25px;
}
.homeMain .homeConBox .examTaskBox .icon {
  width: 10px;
  height: 20px;
}
.homeMain .homeConBox .examTaskBox .icon img {
  width: 100%;
  height: 100%;
}
.homeMain .homeConBox .addGoodsBox {
  background-color: #fff;
  padding: 7px;
  border-radius: 10px;
}
.homeMain .homeConBox .addGoodsBox .titBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
}
.homeMain .homeConBox .addGoodsBox .titBox .secTit {
  margin-right: auto;
  font-weight: bold;
}
.homeMain .homeConBox .addGoodsBox .titBox .icon {
  width: 16px;
  height: 16px;
}
.homeMain .homeConBox .addGoodsBox .titBox .icon img {
  width: 100%;
  height: 100%;
}
.homeMain .homeConBox .addGoodsBox .list {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}
.homeMain .homeConBox .addGoodsBox .list .item {
  width: 46%;
  text-align: center;
  margin-right: 4%;
  margin-bottom: 7px;
  border-radius: 12px;
  padding: 7px 8px;
  background-color: #F5F5F5;
  box-sizing: border-box;
  display: flex;
}
.homeMain .homeConBox .addGoodsBox .list .item .name {
  display: inline-block;
  width: 70%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
.homeMain .homeConBox .addGoodsBox .list .item .count {
  display: inline-block;
  width: 30%;
  color: #999;
}
.homeMain .homeConBox .workCircle {
  width: 100%;
  margin-top: 12px;
  background-color: #fff;
  padding: 7px 9px 7px 7px;
  border-radius: 10px;
  box-sizing: border-box;
}
.homeMain .homeConBox .workCircle .titBox {
  height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homeMain .homeConBox .workCircle .titBox .secTit {
  margin-right: auto;
  font-weight: bold;
}
.homeMain .homeConBox .workCircle .titBox .icon {
  width: 16px;
  height: 16px;
}
.homeMain .homeConBox .workCircle .titBox .icon img {
  width: 100%;
  height: 100%;
}
.homeMain .homeConBox .workCircle .list {
  width: 100%;
}
.homeMain .homeConBox .workCircle .list .item {
  width: 100%;
  padding: 5px 0px;
  border-bottom: 0.5px solid #ddd;
  display: flex;
  box-sizing: border-box;
}
.homeMain .homeConBox .workCircle .list .item .tip {
  width: 12%;
  text-align: right;
  line-height: 33px;
  color: #999;
  font-size: 12px;
}
.homeMain .homeConBox .workCircle .list .item .circleCon {
  width: 88%;
}
.homeMain .homeConBox .workCircle .list .item .circleCon .tit {
  width: 100%;
  font-size: 14px;
  display: flex;
}
.homeMain .homeConBox .workCircle .list .item .circleCon .tit .typeName {
  display: inline-block;
  color: #333;
  border-radius: 10px;
  font-size: 14px;
  line-height: 14px;
  margin-right: 5px;
  flex: 1;
  line-height: 33px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.homeMain .homeConBox .workCircle .list .item .circleCon .count {
  font-size: 12px;
  line-height: 33px;
  color: #666;
  display: flex;
}
.homeMain .homeConBox .workCircle .list .item .circleCon .count span {
  display: inline-block;
}
.homeMain .homeConBox .workCircle .list .item .circleCon .count .time {
  font-size: 12px;
  width: 38%;
}
.homeMain .homeConBox .workCircle .list .item .circleCon .count .browserBox {
  width: 26%;
  display: flex;
  align-items: center;
}
.homeMain .homeConBox .workCircle .list .item .circleCon .count .browserBox img {
  margin-right: 4px;
  width: 18px;
  height: 16px;
}
.homeMain .homeConBox .workCircle .list .item .circleCon .count .praiseBox {
  width: 26%;
  display: flex;
  align-items: center;
}
.homeMain .homeConBox .workCircle .list .item .circleCon .count .praiseBox img {
  margin-right: 3px;
  width: 15px;
  height: 14px;
}
.homeMain .homeConBox .workCircle .list .item:last-child {
  border-bottom: none;
}
.homeMain .homeConBox .workCircle .noData {
  text-align: center;
  margin: 25px 0px;
  font-size: 14px;
  color: #666;
}
.homeMain .homeConBox .mySell {
  position: relative;
  width: 100%;
  margin-top: 12px;
  background-color: #fff;
  padding: 7px 9px 7px 7px;
  border-radius: 10px;
  box-sizing: border-box;
}
.homeMain .homeConBox .mySell .titBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homeMain .homeConBox .mySell .titBox .tabLeft {
  display: flex;
  align-items: center;
}
.homeMain .homeConBox .mySell .titBox .tabLeft .ranking {
  font-size: 12px;
  padding-left: 10px;
}
.homeMain .homeConBox .mySell .titBox .tabRight {
  display: flex;
  align-items: center;
}
.homeMain .homeConBox .mySell .titBox .tabRight span {
  font-size: 12px;
  color: #aab;
}
.homeMain .homeConBox .mySell .titBox .tabRight .icon {
  width: 20px;
  height: 16px;
}
.homeMain .homeConBox .mySell .titBox .tabRight .icon img {
  width: 100%;
  height: 100%;
}
.select-none {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
