#taskBatch {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#taskBatch .header {
  width: 100%;
  height: 1.2rem;
  padding: 0 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #333;
  box-sizing: border-box;
  background-color: #F6F6F6;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#taskBatch .header .img {
  width: 40px;
  padding: 0 25px 0 0;
}
#taskBatch .header img {
  text-align: right;
  width: 8px;
  height: 13px;
  padding: 5px 25px 5px 0px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#taskBatch .header .tit {
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#taskBatch .header .placeLabel {
  width: 50px;
  padding-right: 15px;
  color: #1978FE;
  font-size: 16px;
}
#taskBatch .staffHaveCon {
  flex: 1;
  overflow: hidden;
  width: 100%;
  padding: 0 12.5px;
  box-sizing: border-box;
  color: #999;
}
#taskBatch .staffHaveCon .lists {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 0.5px solid #e3e3e3;
  font-size: 14px;
}
#taskBatch .staffHaveCon .lists .listsLeft {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#taskBatch .staffHaveCon .lists .listsLeft .second {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 0.5px solid #999;
  text-align: center;
  line-height: 20px;
}
#taskBatch .staffHaveCon .lists .listsLeft .secondBth {
  color: #fff;
  background: #FF8C7C;
  border-color: #FF8C7C;
}
#taskBatch .staffHaveCon .lists .listsRight {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#taskBatch .staffHaveCon .lists .listsRight .hours {
  margin-left: 30px;
}
#taskBatch .staffHaveCon .lists img {
  height: 10.5px;
  width: 5.5px;
  margin-left: 0.1rem;
}
#taskBatch .staffHaveCon .bth {
  color: #FF8C7C;
}
#taskBatch .delBox {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12.5px;
  box-sizing: border-box;
}
#taskBatch .delBox .selectCircle {
  height:  50px;
  display:  flex;
  align-items:  center;
}
#taskBatch .delBox .selectCircle img {
  width: 20px;
  height: 20px;
}
#taskBatch .delBox .countBox {
  margin-left: auto;
  margin-right: 10px;
}
#taskBatch .delBox .delBtn {
  width: 75px;
  height: 40px;
  border-radius: 20px 0 0 20px;
  background: #ff8C7C;
  border: 0.5px solid #ff8C7C;
}
#taskBatch .delBox .startBtn {
  width: 75px;
  height: 40px;
  border-radius: 0 20px 20px 0;
  background: #5Ea1FE;
  border: 0.5px solid #5Ea1FE;
}
#taskBatch .delBox .checkBtn {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  font-size: 0.373333rem;
  background: #5Ea1FE;
  border: 0.5px solid #5Ea1FE;
}
#taskBatch .footer {
  width: 100%;
  padding: 0 12.5px;
  box-sizing: border-box;
  height: 50px;
  background: #eee;
  margin: 10px 0;
}
#taskBatch .footer .startBtn {
  background: #1978FE;
  width: 100%;
  font-size: 15px;
  margin: 5px 0;
  height: 40px;
  border-radius: 20px;
}
