#taskTopicCatalog {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#taskTopicCatalog .header {
  width: 100%;
  height: 1.2rem;
  padding: 0 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #333;
  box-sizing: border-box;
  background-color: #F6F6F6;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#taskTopicCatalog .header .img {
  width: 40px;
  padding: 0 25px 0 0;
}
#taskTopicCatalog .header .img img {
  text-align: right;
  width: 8px;
  height: 13px;
  padding: 5px 25px 5px 0px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#taskTopicCatalog .header .tit {
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#taskTopicCatalog .header .placeLabel {
  width: 50px;
  padding-right: 15px;
  color: #1978FE;
  font-size: 16px;
}
#taskTopicCatalog .topicCatalogCon {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
#taskTopicCatalog .topicCatalogCon .bodys {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 12.5px;
  font-size: 14px;
}
#taskTopicCatalog .topicCatalogCon .bodys .bodysTop {
  font-weight: 700;
}
#taskTopicCatalog .topicCatalogCon .bodys .bodysBom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0;
}
#taskTopicCatalog .topicCatalogCon .bodys .bodysBom .bodysBomIn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  margin: 10px 35px 10px 0;
  box-sizing: border-box;
  overflow: hidden;
}
#taskTopicCatalog .topicCatalogCon .bodys .bodysBom .bodysBomIn .bodysBomInIn {
  box-sizing: border-box;
  text-align: center;
  line-height: 30px;
  width: 100%;
  height: 100%;
  color: #1978FE;
  border: 0.5px solid #999999;
  border-radius: 50%;
}
#taskTopicCatalog .topicCatalogCon .bodys .bodysBom .bodysBomIn .active {
  background: #1978FE;
  color: #fff;
  border: 0.5px solid #1978FE;
}
#taskTopicCatalog .topicCatalogCon .bodys .bodysBom .bodysBomIn .oactive {
  background: #7DCD98;
  color: #fff;
  border: 0.5px solid #7DCD98;
}
#taskTopicCatalog .topicCatalogCon .bodys .bodysBom .bodysBomIn .xactive {
  background: #F8736E;
  color: #fff;
  border: 0.5px solid #F8736E;
}
#taskTopicCatalog .topicCatalogCon .bodys .bodysBom .bodysBomIn .vactive {
  background: #b7b7b7;
  color: #fff;
  border: 0.5px solid #b7b7b7;
}
#taskTopicCatalog .topicCatalogCon .bodys .bodysBom .bodysBomIn:nth-child(5n+5) {
  margin: 10px 0;
}
#taskTopicCatalog .footer {
  width: 100%;
  padding: 0 12.5px;
  box-sizing: border-box;
  height: 40px;
  margin-bottom: 30px;
}
#taskTopicCatalog .footer .startBtn {
  width: 100%;
  font-size: 15px;
  height: 40px;
}
