.userinfo-wrap {
  width: 100% !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* 性别弹出框 */
}
.userinfo-wrap .userInfoPage {
  flex: 1;
  overflow: hidden;
  padding: 0 12.5px;
  box-sizing: border-box;
  width: 100%;
}
.userinfo-wrap .userInfoPage .box-li {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31.5px 7.5px 16px 7.5px;
  border-bottom: 0.5px solid #f0f0f0;
}
.userinfo-wrap .userInfoPage .box-li .more-icon {
  width: 6px;
  vertical-align: baseline;
}
.userinfo-wrap .userInfoPage .box-li:nth-child(1) {
  align-items: flex-end;
}
.userinfo-wrap .userInfoPage .box-left {
  display: flex;
  align-items: center;
  color: #1A1A1A;
  font-size: 14px;
}
.userinfo-wrap .userInfoPage .box-left .dot {
  width: 6px;
  height: 6px;
  background: #00A2EA;
  border-radius: 50%;
  margin-right: 7.5px;
}
.userinfo-wrap .userInfoPage .box-right {
  margin-left: auto;
  margin-right: 5px;
  font-size: 15px;
  font-family: FZLanTingHeiS-R-GB;
  font-weight: 400;
  color: #333;
}
.userinfo-wrap .userInfoPage .box-right input {
  text-align: right;
}
.userinfo-wrap .userInfoPage .nick-name-box,
.userinfo-wrap .userInfoPage .job-box,
.userinfo-wrap .userInfoPage .sign-box {
  width: 150px;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.userinfo-wrap .userInfoPage .photo {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}
.userinfo-wrap .van-dialog {
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
}
.userinfo-wrap .van-dialog__content {
  display: block;
}
.userinfo-wrap .el-radio {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0px 25px;
  height: 60px;
  line-height: 60px;
  border-bottom: 0.5px solid #f3f3f3;
}
.userinfo-wrap .el-radio:last-child {
  border-bottom: none;
}
.userinfo-wrap .el-radio__original {
  width: 20px;
  height: 20px;
}
.userinfo-wrap .el-radio__label {
  font-size: 25px;
  line-height: 25px;
}
.userinfo-wrap .van-button--large {
  height: 40px;
  line-height: 40px;
}
.userinfo-wrap .van-button {
  font-size: 30px;
}
.userinfo-wrap .van-button__text {
  font-size: 30px;
}
.userinfo-wrap .van-picker-column {
  font-size: 30px;
}
